#home {
    padding-top: 17%;
}

.record {
    position: absolute;
    z-index: -2;
    max-width: 60%;
    height: auto;
    right: 0;
    top: 75px;
}

.title {
    font-size: 50px;
}

.tape {
    margin-top: 55px;
    max-width: 90%;
}

.tapeRow {
    color: black;
    font-size: 23px;
}

.tapetxt {
    position: absolute;
    margin-top: 100px;
}

.tapetxt2 {
    position: absolute;
    margin-top: 130px;
}

.paperRow {
    display: flex;
    justify-content: center;
}

.aboutBtn {
    color: black;
    background-color: whitesmoke;
    border-color: black;
    border-radius: 0;
    margin-left: 45px;
    padding: 10px;
}

.paper {
    width: 90%;
    margin-top: 50px;
    background-image: url('../../assets/paper.png');
    color: black;
}

.logo {
    width: 75%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.txtend {
    text-align: end;
    padding-right: 25px;
}


@media (max-width:576px) {
    .title {
        font-size: 30px !important;
    }

    .tape {
        margin-top: 45px;
        max-width: 100%;
    }
    
    .tapetxt {
        margin-top: 65px;
    }
    
    .tapetxt2 {
        margin-top: 85px;
    }
}

@media (min-width:576px) and (max-width:768px) {    
    .tapetxt {
        margin-top: 75px;
    }
    
    .tapetxt2 {
        margin-top: 95px;
    }
}

@media (min-width:768px) and (max-width:1000px) {
    .tapeRow {
        font-size: 18px;
    }
    
    .tapetxt {
        margin-top: 80px;
    }
    
    .tapetxt2 {
        margin-top: 110px;
    }
}

@media (min-width:1000px) and (max-width:1200px) {

    .paperRow {
        display: flex;
        justify-content: center;
    }

    .aboutBtn {
        color: black;
        background-color: whitesmoke;
        border-color: black;
        border-radius: 0;
        margin-left: 45px;
        padding: 10px;
    }

    .paper {
        width: 90%;
        margin-top: 50px;
    }

    .logo {
        width: 75%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .txtend {
        text-align: end;
        padding-right: 25px;
    }
}

@media (min-width:1200px) and (max-width:1400px) {}

@media (min-width:1400px) {}