@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Special+Elite&display=swap');

body {
  overflow-x: hidden;
  background-color: rgb(8, 5, 5);
  color: white;
}

.rubik{
  font-family: 'Rubik Dirt', cursive;
}

.elite{
  font-family: 'Special Elite', cursive;
}

@media (max-width:576px){
  p{
    font-size: small;
  }
}

@media (min-width:576px) and (max-width:768px){
  p{
    font-size: small;
  }
}

@media (min-width:768px) and (max-width:992){

}

@media (min-width:992px) and (max-width:1000px){

}

@media (min-width:1000px) and (max-width:1200px){

}

@media (min-width:1200px) and (max-width:1400px){

}

@media (min-width:1400px){
  p{
    font-size: large;
  }
}